# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Berzan Yildiz
	email = 17531789+bmikaili@users.noreply.github.com 

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[core]
pager = git delta

[interactive]
diffFilter = git delta --color-only

[alias]
delta = !delta $(defaults read -g AppleInterfaceStyle &>/dev/null || echo --light)
