/*
/*/
!.config/
!install.fish
!.gitconfig
.config/gcloud/
.config/gh*
.config/github-copilot/*
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
